/OverloadedFunctionPointers.csproj
/DocCodeExamples.csproj
/SeparateAssembly.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/My project.sln.DotSettings.user
/Assembly-CSharp.Player.csproj
/PsdPlugin.csproj
/Unity.2D.Animation.Editor.csproj
/Unity.2D.Animation.Runtime.csproj
/Unity.2D.Animation.EditorTests.csproj
/Unity.2D.Animation.Runtime.Player.csproj
/Unity.2D.Aseprite.Common.csproj
/Unity.2D.Aseprite.Editor.csproj
/Unity.2D.Common.Editor.csproj
/Unity.2D.Aseprite.EditorTests.csproj
/Unity.2D.Common.EditorTests.csproj
/Unity.2D.Common.Runtime.csproj
/Unity.2D.Common.Path.Editor.csproj
/Unity.2D.IK.Editor.csproj
/Unity.2D.Common.Runtime.Player.csproj
/Unity.2D.IK.Runtime.Player.csproj
/Unity.2D.IK.Runtime.csproj
/Unity.2D.PixelPerfect.csproj
/Unity.2D.PixelPerfect.Editor.csproj
/Unity.2D.PixelPerfect.EditorTests.csproj
